<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      FinalProject
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/credits" class="dropdown-item">
              Credits
            </a>
            <a href="/skillsets" class="dropdown-item">
              Skillsets
            </a>
            <a href="/skills" class="dropdown-item">
              Skills
            </a>
            <a href="/careerpaths" class="dropdown-item">
              Careerpaths
            </a>
            <a href="/likes" class="dropdown-item">
              Likes
            </a>
            <a href="/courses" class="dropdown-item">
              Courses
            </a>
            <% if session[:user_id] != nil %>
              <a href="/user_sign_out" class="dropdown-item">
                Sign Out
              </a>
            <% end %>
          </div>
        </li>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
