<h1>Sign up</h1>

<form action="/insert_user" method="post">

  <div>
    <label for="email_box">Username</label>
    <input id="email_box" name="query_email" placeholder="Choose a username..." type="text">
  </div>
                 
  <div>
    <label for="careerpath_id_box">Careerpath</label>
      
    <select id="careerpath_id_box" name="query_careerpath_id">
      <option value="consulting">Consulting</option>
      <option value="technology">Technology</option>
      <option value="banking">Banking</option>
      <option value="corporate">Corporate Strategy</option>
      <option value="finance">Finance</option>
      <option value="marketing">Marketing</option>
      <option value="entrepreneurship">Entrepreneurship</option>
      <option value="vcpe">VC/PE</option>
      <option value="nfp">Non-for-profit</option>
    </select>
  
  </div>
   
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
